<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.fau.cs.mad.carwatch">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fau.cs.mad.carwatch.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.AddAlarmActivity"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ShowAlarmActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:parentActivityName=".ui.MainActivity"
            android:taskAffinity="" />

        <activity
            android:name=".ui.AlertActivity"
            android:launchMode="singleInstance"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent" />

        <activity
            android:name=".ui.BarcodeActivity"
            android:label="@string/title_activity_scan"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />

        <provider
            android:name=".logger.GenericFileProvider"
            android:authorities="de.fau.cs.mad.carwatch.logger.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".userpresent.UserPresentReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".userpresent.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="800">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".alarmmanager.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".alarmmanager.AlarmStopReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="Stop Alarm" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".alarmmanager.TimerReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".userpresent.BootService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <service
            android:name=".userpresent.UserPresentService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".notification.NotificationListenerService"
            android:label="@string/notification_service_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>